<launch>
  <include file="$(find sfm_planner)/launch/rviz.launch" />
  <!-- <include file="$(find ego_planner)/launch/swarm.launch"/> -->
  <!-- <include file="$(find sfm_planner)/launch/swarm_small.launch" /> -->
  <!-- <include file="$(find sfm_planner)/launch/swarm_small_distributed.launch" /> -->
  <include file="$(find sfm_planner)/launch/swarm_distributed.launch" />
</launch>