<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <node pkg="sfm_planner" name="sfm_planner_node" type="sfm_planner_node" output="screen">
    <param name="sfm/agent_number" value="2" />
    <param name="sfm/agent0_cycle" value="true" />
    <param name="sfm/agent1_cycle" value="false" />

    <param name="sfm/agent0_init_x" value="0.0" />
    <param name="sfm/agent0_init_y" value="0.0" />

    <param name="sfm/agent1_init_x" value="5.0" />
    <param name="sfm/agent1_init_y" value="5.0" />

    <param name="sfm/agent0_waypoint_number" value="1" />
    <param name="sfm/agent0_waypoint0_x" value="5.0" />
    <param name="sfm/agent0_waypoint0_y" value="5.0" />

    <param name="sfm/agent1_waypoint_number" value="1" />
    <param name="sfm/agent1_waypoint0_x" value="0.0" />
    <param name="sfm/agent1_waypoint0_y" value="0.0" />

  </node>
</launch>